# Folders
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
/yarn.lock
/node_modules
/input
/output

/.github

# Files
*-debug.log
*-debug.log
*-error.log
*-error.log
oclif.manifest.json
j2md.json
.DS_Store
